.toggler-with-label__knob {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &::before{
    position: absolute;
    top: 4px;
    left: 4px;
    content: '';
    width: 12px;
    height: 12px;
    background: rgba(31,32,65, 0.25);
    border-radius: 10px;
    transition: 0.3s ease all;
  }
}

.toggler-with-label__input:checked + .toggler-with-label__knob::before{
  content: '';
  left: 24px;
  background: $togglerWithLabel__knobBeforeChecked--background;
}
