include __content/rate-button-list__content.pug
include ../optional-inp-drop-title-and-desc-wrapper/optional-inp-drop-title-and-desc-wrapper.pug
include ../rate-button/rate-button.pug
mixin rate-button-list(modifier)
  .rate-button-list&attributes(attributes)
    +optional-inp-drop-title-and-desc-wrapper(modifier)
    +rate-button-list__content(modifier)