.tag-block__tag-description {
  font-family: 'quicksand', tahoma,  sans-serif;
  width: 336px;
  display: inline-block;
  text-align: left;

  @include media-breakpoint-down(sm) {
    width: auto;
  }
}
