mixin tag-block__tag-description(descriptionText="This one is the sub-section or widget title", fontStyle=" tag-block__tag-description_font-style-bold ")
  .tag-block__tag-description(class= fontStyle)&attributes(attributes)!=descriptionText