mixin form-and-elements__text-fields-column-sub-row(modifier)
  .form-and-elements__text-fields-column-sub-row&attributes(attributes)
    +text-field({
        title: "DATE DROPDOWN", 
        inputPlaceholder: "ДД.ММ.ГГГГ",
        inputType: "date",
        isNeededToggler: true
        } 
      )(class=' form-and-elements__text-field text-field_size_half text-field_placeholder-color_dark')
    +text-field({
        title: "DATE DROPDOWN", 
        inputPlaceholder: "ДД.ММ.ГГГГ",
        inputType: "date",
        isNeededToggler: true
        } 
      )(class=' form-and-elements__text-field text-field_size_half text-field_placeholder-color_dark')