include ../../blocks/comment/comment.pug
include ../../blocks/advantage/advantage.pug
include ../../blocks/advantage-list/advantage-list.pug
include __advantages-and-comment-row/form-and-elements__advantages-and-comment-row.pug
include __checkbox-subcolumn/form-and-elements__checkbox-subcolumn.pug
include __checkbox-row/form-and-elements__checkbox-row.pug
include __radioCheckRate-column/form-and-elements__radioCheckRate-column.pug
include __text-fields-column-sub-row/form-and-elements__text-fields-column-sub-row.pug
include __content-wrapper/form-and-elements__content-wrapper.pug
include __dropdown-row-subrow/form-and-elements__dropdown-row-subrow.pug
include __dropdown-row-column/form-and-elements__dropdown-row-column.pug
include ../text-field/text-field.pug
include __achievment-column/form-and-elements__achievment-column.pug
include __reviews-wrapper/form-and-elements__reviews-wrapper.pug
include __lists-row/form-and-elements__lists-row.pug
include __dropdown-row/form-and-elements__dropdown-row.pug
include __pagination-slide-button-column/form-and-elements__pagination-slide-button-column.pug
include __toggle-button-column/form-and-elements__toggle-button-column.pug
include __text-fields-column/form-and-elements__text-fields-column.pug
include ../brand-pic/brand-pic.pug
include ../../blocks/checkbox-list/checkbox-list.pug
include ../../blocks/radio-buttons-list/radio-buttons-list.pug
include ../../blocks/togglers-list/togglers-list.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../button-list/button-list.pug
include ../pagination/pagination.pug
include ../../blocks/like-button-list/like-button-list.pug
include ../../blocks/header-UIKit/header-UIKit.pug
include ../rate-button-list/rate-button-list.pug
include ../comment/comment.pug
mixin form-and-elements(modifier)
  .form-and-elements&attributes(attributes).container-fluid
    +form-and-elements__content-wrapper()
