/* no sense variables */
$transparent: transparent;
$inherit: inherit;

$gray-lightest: rgba(31,32,65,0.05);
$gray-muchMorelightest: rgba(31,32,65,0.1);
$gray-lighter: rgba(31,32,65,0.25);
$gray: rgba(31,32,65,0.5);
$gray-darker: rgba(31, 32, 65, 0.75);
$gray-darkest: rgba(31,32,65,1);

$purple: #BC9CFF;
$velvet: #A4A0FC;
$green: #6FCF97;
$white: #fff;
$navyBlue: #214472;// Тёмно синий
$pink: #bc9cff;

$gradient-green:linear-gradient(180deg,#6FCF97 0%, #66D2EA 100%);
$gradient-purple: linear-gradient(180deg,#BC9CFF 0%, #8BA4F9 100%);
$gradient-gray-blue: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-gray-blue-faded: linear-gradient(180deg, rgba(188,156,255,0.6) 0%, rgba(139,164,249,0.6) 100%);
$gradient-gray-only:  linear-gradient($gray-lighter 100%, $gray-lighter 100%);

//Внимание, для работы градиентных цветов для svg требуется подключать pug файл с этим
//градиентом путь будет описан в комментарии ниже
$svg-gradient-purple: url('#svg-purple-gradient');
// include ../../components/svg-purple-gradient.pug
$svg-gradient-purple_faded: url('#svg-purple-gradient_faded');
// include ../../components/svg-purple-gradient_faded.pug

/* variables with sense */

/* *********************************************************************** */

$colorBlock__colorSquare_darkShade-100--BGColor: $gray-darkest;
$colorBlock__colorSquare_darkShade-75--BGColor: $gray-darker;
$colorBlock__colorSquare_darkShade-50--BGColor: $gray;
$colorBlock__colorSquare_darkShade-25--BGColor: $gray-lighter;
$colorBlock__colorSquare_darkShade-5--BGColor: $gray-lightest;
$colorBlock__colorSquare_green--BGColor: $green;
$colorBlock__colorSquare_purple--BGColor: $purple;
$colorBlock__textWrapper_textDecoration--color: $gray-darkest;

$checkboxList__labelWrapper--color: $gray;

$checkbox_unchecked--BGColor: $gray-lighter;
$checkbox_checked--BGColor: $purple;
$checkbox__innerSpace--BGColor: $white;

$radioButtonsList__inputChecked--color: $gray-darker;
$radioButtonsList__inputNotChecked--color: $gray;

$optionalTitle__desc_color_whiteGray--color: $gray;

$tagBlockNameColor_gray--color: $gray-lighter;

$dropdownColorClearButton--color: $gray;

$checkboxLabelColor_rich--color: $gray-darker;
$checkboxBulletBackground--color: $gray-lighter;

$rangeSliderDisplayedNumbers--color: $gray;
$rangeSliderBorder--color: $gray-lighter;
$rangeSliderKnob--background: $gradient-green;
$rangeSliderKnob--border: $white;

$uiWidgetHeader--BGColor: $navyBlue;

$button--BGColor: $gradient-purple;
$button_colored_purple--color: $white;
$button_transparent--color: $purple;
$button_transparentActive--color: $gray;
$button_transparent--borderColor: $gradient-purple;
$button_transparent--BGColor: $white;

$likeColor_transparentWithBorder--color: $gray-lighter;
$likeButton_transparentWithBorder_pressed--color: $purple;
$likeButton_transparent--borderColor: $gradient-gray-only;
$likeButton_transparentWithBorder_pressed--BGImage: $gradient-purple;
$likeButton_transparent--BGCollor: $white;
$likeButtonImage--stroke: $gray-lighter;
$likeButtonImage_pressed--fill: $purple;
$likeButtonImage_pressed--stroke: $likeButtonImage_pressed--fill;

$paginationActiveItem--BGImage: $gradient-gray-blue;
$paginationActiveItemHover--BGImage: $gradient-gray-blue-faded;
$paginationActiveItem--color: $white;
$paginationItem--color: $gray;
$paginationNavigationActive--BGImage: $gradient-green;

$rateButtonStar--fill: $svg-gradient-purple; // include ../../components/svg-purple-gradient.pug
$rateButtonStar--stroke: $svg-gradient-purple; // include ../../components/svg-purple-gradient.pug
$rateButtonStar_faded--fill: $svg-gradient-purple_faded; // include ../../components/svg-purple-gradient.pug

$advantageText--color: $gray-darker;

$advantageListItemWrapper--borderBottomColor: $gray-muchMorelightest;

$commentAvatar--color: $gray-darker;
$commentTextArea--color: $gray-darker;

$textField__buttonApply--color: $pink;
$textField__input--BGColor: $white;
$textField__input--color: $gray-darker;
$textField__inputPlaceholder--color: $gray-lighter;
$textField__input_dark--color: $gray-darker;
$textField__input_date--color: $gray-lighter;
$textField__mathOperation--color: $gray;
$textField__menuWrapper--BGColor: $white;
$textField__menuWrapper--borderColor: $gray-lighter;
$textField__property--color: $gray;
$textField__mathOperation--borderColor: $gray;

$togglerWithLabel__knobBeforeChecked--background: $gradient-gray-blue;
$togglerWithLabel__knobLine--BGColor: $white;
$togglerWithLabel__knobLine--borderColor: $gray-lighter;
$togglerWithLabel__knobLineChecked--borderColor: $pink;
