mixin color-block__color-square(squareShape=' color-block__color-square_shape_rounded-corners ' , squareBkgColor='color-block__color-square_bkg-color_dark-shade-100 ')
	.color-block__color-square(class= squareShape + squareBkgColor)&attributes(attributes)