mixin advantage__image(modifier)
  .advantage__image&attributes(attributes)
    case modifier.img
      when "smile"
        +smile(modifier)
      when "home"
        +home(modifier)
      when "fire"
        +fire(modifier)
      default
        p there is no such svg_img