mixin radio-buttons-list__input(modifier)
  - var radioButtonState = modifier.isChecked ? "checked" : undefined
  input.radio-buttons-list__input&attributes(attributes)(type="radio", name= modifier.groupName, id= modifier.optionId, checked=radioButtonState)
