include __rows-wrapper/button-list__rows-wrapper.pug
include ../button/button.pug
include __row/button-list__row.pug
include ../optional-inp-drop-title-and-desc-wrapper/optional-inp-drop-title-and-desc-wrapper.pug

mixin button-list(modifier)
  .button-list&attributes(attributes)
    +optional-inp-drop-title-and-desc-wrapper(modifier)
    +button-list__rows-wrapper(modifier)
      