mixin comment__image(modifier)
  picture.comment__image&attributes(attributes)
    source(type="image/webp" srcset=require("../../img/murad.webp"))
    source(type="image/jpg" srcset=require("../../img/murad.webp"))
    img(src=require("../../img/murad.jpg") alt="изображение комментария аватара")
