.checkbox-list__menu {
	margin-top: 15px;
}

.checkbox-list_expandable {
  .checkbox-list__menu{
    display: none;
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 0;
    transition: 0.3s linear;
    opacity: 0;
  }
}

.checkbox-list_expanded {
  &.checkbox-list_expandable{
    .checkbox-list__menu{
      opacity: 1;
      display: block;
    }
  }
}
