$slider-line-border-width:1px;
$slider-line-height:6px;
.range-slider__slider {
  background-color: $transparent;
  height: $slider-line-height;/* Высота полоски слайдера */
  position: relative;/* Для того чтобы бегунки и полоска были на месте (они позиционированны абсолютно) */
  border: $slider-line-border-width solid $rangeSliderBorder--color;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;

  .ui-widget-header {/* цветная линия между бегунками */
    transform: translateX(6px);
    background-color: $uiWidgetHeader--BGColor ;/* цвет полоски между бегунками полагаю important можно убрать */
    position: absolute;
    height: $slider-line-height;/* высота такая же как и у самой полоски */
    top: -1px;
  }

  .ui-slider-handle {/* Стили бегунков */
    position: absolute;
    top: -6px !important;
    height: 16px;
    width: 16px;
    background-image: $rangeSliderKnob--background !important;
    border-radius: 10px;
    border: 2px solid $rangeSliderKnob--border !important;

/* Отвечает за расположение бегунков, на такой высоте они ровно по середине линии rangeslider */

/* Высота и ширина бегунков */
  }
}
