.radio-buttons-list__input {
  display: none;

  &:not(:checked) + label::after{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:checked + label::after{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  &:not(:checked) + label{
    color: $radioButtonsList__inputNotChecked--color;
  }
  &:checked + label{
    color: $radioButtonsList__inputChecked--color;
  }
}
