.toggler-with-label__knob-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  background-color: $togglerWithLabel__knobLine--BGColor;
  border: 1px solid $togglerWithLabel__knobLine--borderColor;
}

.toggler-with-label__input:checked ~ .toggler-with-label__knob-line{
  border: 1px solid $togglerWithLabel__knobLineChecked--borderColor;
}
