.form-and-elements__comment {
  @include media-breakpoint-down(md){
    width: 480px;
  }
  @include media-breakpoint-down(sm){
    width: 320px;
  }
  @include media-breakpoint-up(lg){
    margin-left: 172px;
    margin-top: 29px;
  }
}
