include __knob-line/toggler-with-label__knob-line.pug
include __knob/toggler-with-label__knob.pug
include __input/toggler-with-label__input.pug
include __label/toggler-with-label__label.pug
include __label-wrapper/toggler-with-label__label-wrapper.pug
include __toggler/toggler-with-label__toggler.pug
include __toggler-wrapper/toggler-with-label__toggler-wrapper.pug
mixin toggler-with-label(modifier)
  .toggler-with-label&attributes(attributes)
    +toggler-with-label__toggler-wrapper(modifier)
    +toggler-with-label__label-wrapper(modifier)