//Пути нужно указывать относительно scss файла, который будет в pages, допустим index.scss
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:  local('☺'), 
        url('../../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'), 
        url('../../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src:  local('☺'), 
        url('../../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), 
        url('../../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}
