.pagination__item {
  text-align: center;
  @include commonHeaderStyle;

  text-decoration: none;
  height: 40px;/* Высота и ширина пагинации */
	width: 40px;
	border-radius: 22px;
	color: $paginationItem--color;
	display: none;

  &:last-child,/*делаем видимым next первую числовую ячейку и последнюю числовую ячейку*/
  &:nth-child(2),
  &:nth-last-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-image: $paginationActiveItemHover--BGImage;
    color: $paginationActiveItem--color;
  }

  @include media-breakpoint-down(md) {
    font-size: 10px;
    height: 25px;/* Высота и ширина пагинации */
    width: 25px;
    padding-top: 5px;
  }
}
