mixin brand-pic(modifier)
  svg.brand-pic()&attributes(attributes)
    g(fill="none" stroke-width='3' stroke-linecap='round' stroke="rgba(31,32,65,0.25)")
      circle(r="22.5" cx="24" cy="24" stroke-width="2.5")
      //-правая линия
      path( d="M 36,20 C 30,19 25,25 27.3,26") 
      //-нижняя линия нужна чтобы перекрыть вышнюю и обрезать, так получится прям тот логотип, который нужен
      path(  d="M 16.8,19.8 C 23,20 29,25 28,31" stroke="white" stroke-width="3.2")
      //-левая линия
      path(  d="M 12.8,19.8 C 19,20 25,25 24,31")