mixin like-button-list__menu(modifier)
  .like-button-list__menu&attributes(attributes)
    +like-button({count:2})(class=" like-button-list__like-button like-button_transparent_with-border ")
    +like-button({count:12})(class=" like-button-list__like-button like-button_pressed like-button_transparent_with-border ")