include __star/rate-button__star.pug
include __line/rate-button__line.pug
include ../../components/svg-purple-gradient.pug
include ../../components/svg-purple-gradient_faded.pug
//- В файле что прописан выше находится градиентный цвет для 
include ../optional-inp-drop-title-and-desc-wrapper/optional-inp-drop-title-and-desc-wrapper.pug
mixin rate-button(modifier)
  if modifier.starsNumber == undefined
    - modifier.starsNumber = 5;

  if modifier.starsfilled == undefined
    - modifier.starsfilled = 0;


  .rate-button&attributes(attributes)(data-initial-stars-filled=modifier.starsfilled)
    +optional-inp-drop-title-and-desc-wrapper(modifier)
    +rate-button__line(modifier)

