mixin checkbox-list__menu(modifier)
  ul.checkbox-list__menu&attributes(attributes)
    - for (var i=0; i< modifier.menuItemsArray.length; i++)
      +checkbox-list__item-wrapper(
        Object.assign({},
          modifier.menuItemsArray[i],
          {
            checkboxId:`${modifier.checkboxListId}_item_#${i+1}`,
            class: modifier.class 
          }
          ))
