.color-and-type__tag-block {
  margin-bottom: 46px;

  @include media-breakpoint-down(lg) {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    margin-top: 49px;
  }
}
@import '_with-extra-top/color-and-type__tag-block_with-extra-top';