include __item/pagination__item.pug
include __display-calculations/pagination__display-calculations.pug
include __content/pagination__content.pug
include ../optional-inp-drop-title-and-desc-wrapper/optional-inp-drop-title-and-desc-wrapper.pug
mixin pagination(modifier)

  .pagination&attributes(attributes)
    +optional-inp-drop-title-and-desc-wrapper(modifier)(class= "text-field__optional-inp-drop-title-and-desc-wrapper ")
    +pagination__content(modifier)
    +pagination__display-calculations(modifier)