mixin rate-button__star(modifier)
  svg.rate-button__star&attributes(attributes)(viewBox='0 0 100 100')
    g.star
      path(d='M 50 4 61.23 38.55 97.55 38.55 68.16 59.9 79.39 94.45 50 73.1 20.6 94.45 31.84 59.9 2.45 38.55 38.77 38.55 z')