.advantage-list__item-wrapper {
  border-bottom: 1px solid $advantageListItemWrapper--borderBottomColor;
  padding: 20px 0;
  margin-bottom: 4px;
  &:last-child{
    border-bottom: none;
  }

  &.advantage-list__item_with-dividers{
    border-bottom: 1px solid $advantageListItemWrapper--borderBottomColor;
  }
}
