include __description/checkbox-list__description.pug
include __title-wrapper/checkbox-list__title-wrapper.pug
include __checkbox-container/checkbox-list__checkbox-container.pug
include __item-wrapper/checkbox-list__item-wrapper.pug
include __label/checkbox-list__label.pug
include __label-wrapper/checkbox-list__label-wrapper.pug
include __item/checkbox-list__item.pug
include __menu/checkbox-list__menu.pug
include ../../blocks/checkbox/checkbox.pug
include ../optional-inp-drop-title-and-desc-wrapper/optional-inp-drop-title-and-desc-wrapper.pug
include ../arrow-toggler/arrow-toggler.pug
mixin checkbox-list(modifier={header,checkboxListId,isChecked,menuItemsArray:[{text}]})
  .checkbox-list&attributes(attributes)
    
    if modifier.checkboxListId == undefined
      - modifier.checkboxListId = "checkboxListIdDefaultValue";
    if attributes.class == undefined
      - attributes.class = "";

    //- объединяем modifier с аттрибутами, чтобы знать - нужно ли создавать тогглер? ведь в аттрибутах может быть модификатор, создающий тогглеp
    - Object.assign(modifier,attributes,modifier)

    +checkbox-list__title-wrapper(modifier)
    +checkbox-list__menu(modifier)