.text-field__math-operation {
  @include square(30px);
  @include rounded;
  @include unselectable;

  display: flex;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid $textField__mathOperation--borderColor;
  color: $textField__mathOperation--color;
  cursor: pointer;
  font-family: 'montserrat' ,arial , sans-serif;
  font-size: 18px;
  line-height: 22px;
  justify-content: center;
  align-items: center;
}
