.form-and-elements__advantages-and-comment-row {
  width: 100%;
  display: flex;
  justify-content: start;

  @include media-breakpoint-down(lg){
    flex-direction: column;
    align-items: center;
  }
}
