mixin form-and-elements__content-wrapper(modifier)
  .form-and-elements__content-wrapper.row&attributes(attributes)
    +header-UIKit(modifier)
    +form-and-elements__text-fields-column(modifier)
    +form-and-elements__radioCheckRate-column(modifier)
    +form-and-elements__dropdown-row(modifier)(class="w-100")
    +form-and-elements__pagination-slide-button-column(modifier)
    +form-and-elements__checkbox-row(modifier)
    +form-and-elements__advantages-and-comment-row(modifier)