include ../__color-description/color-block__color-description.pug
include ../__color-name/color-block__color-name.pug
mixin color-block__text-wrapper(textDecoration=' color-block__text-wrapper_text-decoration ', colorName, colorDescription)
  .color-block__text-wrapper(class=textDecoration)&attributes(attributes)
    +color-block__color-name(colorName)
    +color-block__color-description(colorDescription)