mixin like-button__wrapper(modifier)
  .like-button__wrapper&attributes(attributes)
    //-Передаём в этот жэлемент любое число, оно нам нужно, чтобы задать высоту определённу, т.к. высота задётся через паддинги, то в элементе просто должен быть какой-то текст
    +like-button__image(modifier)
    +like-button__count(modifier)